In [2]:
import pandas as pd
from utils import *

In [3]:
df, X, y = import_data('data/DatArticle_orig.xls')

Dataset shape: (67, 3)

### ML modeling

In [5]:
svr = svr_model(X, y)
rf = rf_model(X, y)
lr = lr_model(X, y)

manual_cv(svr, 'SVR', X, y)
manual_cv(rf, 'RF', X, y)
manual_cv(lr, 'LR', X, y)

In [4]:
# Save trained models using pickle
import pickle

with open('models/svr.pkl', 'wb') as f:
    pickle.dump(svr, f)

with open('models/rf.pkl', 'wb') as f:
    pickle.dump(rf, f)

with open('models/lr.pkl', 'wb') as f:
    pickle.dump(lr, f)

In [4]:
final_df = read_csv(FOLDER)
final_df

        y_val    y_pred  iter model  sample_id      mse
0    0.420958  0.250345    10    LR         61  0.00914
1    0.382604  0.250327    10    LR         62  0.00914
2    0.317890  0.249794    10    LR         63  0.00914
3    0.292411  0.249367    10    LR         64  0.00914
4    0.269020  0.248844    10    LR         65  0.00914
..        ...       ...   ...   ...        ...      ...
196  0.687648  0.224932     9   SVR         56  0.15305
197  0.654143  0.237313     9   SVR         57  0.15305
198  0.623135  0.247477     9   SVR         58  0.15305
199  0.588833  0.257205     9   SVR         59  0.15305
200  0.442017  0.280545     9   SVR         60  0.15305

[201 rows x 6 columns]

In [5]:
print(final_df[final_df['model'] == 'SVR'].mean()['mse'])
print(final_df[final_df['model'] == 'LR'].mean()['mse'])
print(final_df[final_df['model'] == 'RF'].mean()['mse'])

0.04696865823309489
0.06060205652667243
0.05862537098419541

C:\Users\mexis\AppData\Local\Temp\ipykernel_25712\2846435187.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(final_df[final_df['model'] == 'SVR'].mean()['mse'])
C:\Users\mexis\AppData\Local\Temp\ipykernel_25712\2846435187.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(final_df[final_df['model'] == 'LR'].mean()['mse'])
C:\Users\mexis\AppData\Local\Temp\ipykernel_25712\2846435187.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(final_df[final_df['model'] == 'RF'].mean()['mse'])

In [6]:
# Group by iter and model and get the mean of mse
final_df.groupby(['iter', 'model']).mean()['mse']

iter  model
1     LR       0.019955
      RF       0.006898
      SVR      0.017778
2     LR       0.034212
      RF       0.055890
      SVR      0.056292
3     LR       0.013810
      RF       0.000764
      SVR      0.001196
4     LR       0.003775
      RF       0.001072
      SVR      0.000420
5     LR       0.023752
      RF       0.050967
      SVR      0.003862
6     LR       0.043866
      RF       0.034529
      SVR      0.007472
7     LR       0.075762
      RF       0.116519
      SVR      0.061502
8     LR       0.194938
      RF       0.181346
      SVR      0.183767
9     LR       0.221659
      RF       0.157230
      SVR      0.153050
10    LR       0.009140
      RF       0.004994
      SVR      0.014392
Name: mse, dtype: float64