In [11]:
import pandas as pd

full_df = pd.read_csv('data/all_runs.csv', delimiter='\t')
full_df=full_df[full_df['Induction']==1]

# Round a columns to integer
full_df['Temperature'] = full_df['Temperature'].astype(int)
full_df.sort_values(by=['Temperature'], inplace=True)   

unique_temps = full_df['Temperature'].unique()

for temp in unique_temps:
    print(f'Temperature: {temp}')
    temp_df = full_df[full_df['Temperature']==temp]
    display(temp_df)

Temperature: 27

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
28,9.283333,0.000,23.982143,0.131010,0.0,1.738042,27,1.0,BR02
30,13.150000,0.011,25.246429,0.462354,0.0,1.666463,27,1.0,BR02
32,17.100000,0.000,27.314286,0.952321,0.0,1.596226,27,1.0,BR02
33,18.150000,0.006,27.653571,1.255040,0.0,1.549573,27,1.0,BR02
34,19.166667,0.009,28.039286,1.695873,0.0,1.506909,27,1.0,BR02
35,20.133333,0.000,28.417857,2.318808,0.0,1.462388,27,1.0,BR02

Temperature: 28

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
110,15.750000,0.000,34.175000,0.310152,0.0,2.043427,28,1.0,BR06
171,38.416667,0.030,36.550000,0.437051,0.0,2.238127,28,1.0,BR08
114,26.250000,0.000,38.160714,0.915419,0.0,2.134248,28,1.0,BR06
115,27.916667,0.024,38.475000,1.010469,0.0,2.159950,28,1.0,BR06
119,39.250000,0.017,38.410714,1.423235,0.0,2.218084,28,1.0,BR06
120,46.533333,0.000,38.228571,1.414608,0.0,2.343485,28,1.0,BR06
160,11.566667,0.035,28.210714,0.104404,0.0,2.092707,28,1.0,BR08
163,16.850000,0.031,30.185714,0.244808,0.0,2.052763,28,1.0,BR08
162,14.133333,0.005,29.821429,0.191841,0.0,2.054382,28,1.0,BR08
108,12.916667,0.012,32.953571,0.167814,0.0,2.055131,28,1.0,BR06
164,22.400000,0.000,32.489286,0.286230,0.0,2.136379,28,1.0,BR08
165,24.050000,0.000,32.932143,0.288952,0.0,2.119329,28,1.0,BR08
168,30.050000,0.018,34.925000,0.306150,0.0,2.204792,28,1.0,BR08
170,35.716667,0.012,36.714286,0.372411,0.0,2.225119,28,1.0,BR08
161,12.666667,0.016,28.850000,0.149120,0.0,2.059106,28,1.0,BR08
106,11.116667,0.008,31.778571,0.087515,0.0,2.081896,28,1.0,BR06
172,46.416667,0.005,37.453571,0.792027,0.0,2.350697,28,1.0,BR08
29,11.033333,0.011,24.714286,0.315045,0.0,1.700264,28,1.0,BR02
31,15.150000,0.005,26.812800,0.620946,0.0,1.631697,28,1.0,BR02

Temperature: 29

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
113,23.750000,0.029,37.489286,0.774330,0.0,2.083814,29,1.0,BR06
116,30.783333,0.000,37.925000,1.158051,0.0,2.169399,29,1.0,BR06
159,10.133333,0.040,27.803571,0.050601,0.0,2.120764,29,1.0,BR08
112,22.083333,0.000,36.646429,0.686702,0.0,2.099454,29,1.0,BR06
111,17.750000,0.000,35.253571,0.422197,0.0,2.032900,29,1.0,BR06
117,33.716667,0.005,38.521429,1.271485,0.0,2.190559,29,1.0,BR06
166,25.550000,0.000,33.235714,0.291697,0.0,2.122928,29,1.0,BR08
167,27.016667,0.003,32.935714,0.294741,0.0,2.149102,29,1.0,BR08
107,12.000000,0.012,32.485714,0.120696,0.0,2.043322,29,1.0,BR06
105,10.066667,0.000,31.203571,0.046195,0.0,2.116285,29,1.0,BR06
169,33.050000,0.032,35.325000,0.330865,0.0,2.222071,29,1.0,BR08
109,14.166667,0.000,33.732143,0.230558,0.0,2.042866,29,1.0,BR06
118,36.750000,0.014,38.842857,1.367856,0.0,2.201136,29,1.0,BR06

Temperature: 30

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
50,19.366667,0.0,30.203571,2.302295,0.0,2.127612,30,1.0,BR03
49,18.300000,0.0,31.153571,1.314363,0.0,2.106993,30,1.0,BR03
45,10.500000,0.0,26.928571,0.196158,0.0,2.021112,30,1.0,BR03
47,14.366667,0.0,27.317857,0.527328,0.0,2.037650,30,1.0,BR03
46,12.250000,0.0,25.417857,0.464868,0.0,2.030074,30,1.0,BR03
48,16.366667,0.0,27.735714,0.566912,0.0,2.068621,30,1.0,BR03

Temperature: 31

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
143,30.700000,0.043,28.803571,0.368931,0.0,2.339435,31,1.0,BR07
144,33.750000,0.025,29.800000,0.354250,0.0,2.329201,31,1.0,BR07
141,26.250000,0.019,28.682143,0.402171,0.0,2.284143,31,1.0,BR07
138,17.750000,0.000,26.257143,0.334563,0.0,2.251576,31,1.0,BR07
139,22.083333,0.000,27.400000,0.416116,0.0,2.300076,31,1.0,BR07
135,12.816667,0.041,25.239286,0.063755,0.0,2.278817,31,1.0,BR07
140,23.750000,0.041,28.460714,0.409096,0.0,2.268649,31,1.0,BR07

Temperature: 32

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
142,27.916667,0.000,28.785714,0.387394,0.0,2.312985,32,1.0,BR07
71,14.933333,0.000,34.017857,0.387269,0.0,1.425515,32,1.0,BR04
137,15.750000,0.024,25.028571,0.254767,0.0,2.244284,32,1.0,BR07
145,36.750000,0.014,31.125000,0.363161,0.0,2.349292,32,1.0,BR07
146,39.333333,0.015,30.882143,0.395421,0.0,2.372063,32,1.0,BR07
147,46.933333,0.000,31.935714,0.736030,0.0,2.515307,32,1.0,BR07
136,14.250000,0.000,24.039286,0.171621,0.0,2.248670,32,1.0,BR07
66,9.933333,0.000,30.714286,0.092910,0.0,1.422819,32,1.0,BR04
70,14.050000,0.006,33.396429,0.298919,0.0,1.425515,32,1.0,BR04

Temperature: 33

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
67,11.033333,0.061,31.585714,0.171464,0.0,1.424596,33,1.0,BR04
68,11.966667,0.000,32.960714,0.194065,0.0,1.425515,33,1.0,BR04
69,12.966667,0.000,33.563095,0.222978,0.0,1.425515,33,1.0,BR04

Temperature: 36

,Time,Glucose,Biomass,Protein,Acetate,Vreal,Temperature,Induction,Run
89,12.000000,0.009,30.938095,0.170376,0.0,1.616274,36,1.0,BR05
87,9.933333,0.011,29.314286,0.058108,0.0,1.690514,36,1.0,BR05
88,11.033333,0.000,30.064286,0.121940,0.0,1.654728,36,1.0,BR05
92,14.916667,0.011,33.223810,0.225718,0.0,1.419299,36,1.0,BR05
91,14.050000,0.000,31.732143,0.222072,0.0,1.453026,36,1.0,BR05
90,13.000000,0.010,31.509524,0.203643,0.0,1.577729,36,1.0,BR05